# Heroes of Pymoli Data Analysis 

<ul> 
<li> Although there are more male users than female users, on average, the purchase price is higher among females.  </li>
<li> The highest percentage of players are 20-24 years old. </li>
<li> The most popular item and the most profitable item is the Mourning Blade. </li>

In [1]:
#Import Dependencies 
import pandas as pd
import numpy as np

In [2]:
#Read in JSON file 
heroes_pymoli = "purchase_data2.json"

In [3]:
heroes_pymoli_pd = pd.read_json(heroes_pymoli, encoding = "iso-8859-1")
heroes_pymoli_pd.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [4]:
#Check column names 
heroes_pymoli_pd.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [5]:
#Drop Duplicates
heroes_without_duplicates = heroes_pymoli_pd.drop_duplicates(subset =['Age', 'Gender', 'SN'])
heroes_without_duplicates.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

### Player Count

In [6]:
#Player Count
#Total Players 
total_players = len(heroes_without_duplicates)
total_players
total_player_breakdown = pd.DataFrame({"Total Players": [total_players]})
total_player_breakdown
total_player_breakdown = total_player_breakdown[["Total Players"]]
total_player_breakdown

   Total Players
0             74

In [7]:
#Number of Unique Items
items_unique = heroes_pymoli_pd["Item Name"].nunique()
items_unique

63

In [8]:
#Avg Purchase Price
avg_price = heroes_pymoli_pd["Price"].mean()
avg_price

2.9243589743589733

In [9]:
#Total Number of Purchases
total_purchases = heroes_pymoli_pd["Price"].count()
total_purchases

78

In [10]:
total_price = heroes_pymoli_pd["Price"].sum()
total_revenue = avg_price*total_purchases 
total_revenue

228.09999999999991

### Purchasing Analysis (Total)

In [11]:
#Clean up the data/formatting
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [items_unique],
                                   "Average Price": [avg_price], 
                                   "Number of Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue]})
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${0:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${0:,.2f}".format)
purchasing_analysis

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.92                   78                      63       $228.10

In [12]:
#Gender Demographics
#Count of Male, Female and Other Players 
genders = heroes_without_duplicates["Gender"].unique()
genders

array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)

In [13]:
total_male = heroes_without_duplicates["Gender"].value_counts()['Male']
total_female = heroes_without_duplicates["Gender"].value_counts()["Female"]
total_other = heroes_without_duplicates["Gender"].value_counts()["Other / Non-Disclosed"]

In [14]:
#Percentage of Male, Female and Other Players
percentage_male = (total_male/total_players)*100
percentage_female = (total_female/total_players)*100
percentage_other = (total_other/total_players)*100

### Gender Demographics

In [15]:
#Clean up/Format
gender_demographics = pd.DataFrame({"Percentage of Players": (percentage_male,percentage_female, percentage_other),
                                   "Total Count": (total_male, total_female,total_other)}) 

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{0:,.2f}".format)
gender_demographics
gender_demographics.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"})

                      Percentage of Players  Total Count
Male                                  81.08           60
Female                                17.57           13
Other / Non-Disclosed                  1.35            1

In [16]:
#Purchasing Analysis by Gender
male_analysis = heroes_pymoli_pd.loc[heroes_pymoli_pd["Gender"] == "Male"]
male_analysis.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [17]:
male_purchase_count = male_analysis["Item Name"].count()
male_purchase_count

64

In [18]:
male_avg_price = male_analysis["Price"].mean()
male_avg_price

2.884375

In [19]:
male_purchase_value = male_analysis["Price"].sum()
male_purchase_value

184.6

In [20]:
normalized_male_value = male_purchase_value/total_male 
normalized_male_value

3.0766666666666667

In [21]:
#Female Purchasing Analysis
female_analysis = heroes_pymoli_pd.loc[heroes_pymoli_pd["Gender"] == "Female"]
female_purchase_count = female_analysis["Item Name"].count()
female_avg_price = female_analysis["Price"].mean()
female_purchase_value = female_analysis["Price"].sum()
normalized_female_value = female_purchase_value/total_female

In [22]:
#Other Purchasing Analysis 
other_analysis = heroes_pymoli_pd.loc[heroes_pymoli_pd["Gender"] == "Other / Non-Disclosed"]
other_purchase_count = other_analysis["Item Name"].count()
other_avg_price = other_analysis["Price"].mean()
other_purchase_value = other_analysis["Price"].sum()
normalized_other_value = other_purchase_value/total_other

### Purchasing Analysis (Gender)

In [23]:
gender_purchasing_analysis = pd.DataFrame({"Purchase Count": (male_purchase_count,female_purchase_count,
                                other_purchase_count),
                                "Average Purchase Price": (male_avg_price, female_avg_price,
                                other_avg_price),
                                "Total Purchase Value": (male_purchase_value, female_purchase_value,
                                other_purchase_value),
                                "Normalized Totals":(normalized_male_value, normalized_female_value,
                                                             normalized_other_value)
            
                                          })

gender_purchasing_analysis
gender_purchasing_analysis["Average Purchase Price"] = gender_purchasing_analysis["Average Purchase Price"].map("${0:,.2f}".format)
gender_purchasing_analysis["Total Purchase Value"] = gender_purchasing_analysis["Total Purchase Value"].map("${0:,.2f}".format)
gender_purchasing_analysis["Normalized Totals"] = gender_purchasing_analysis["Normalized Totals"].map("${0:,.2f}".format)
gender_purchasing_analysis[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]
gender_purchasing_analysis.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"})
gender_purchasing_analysis[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]
gender_purchasing_analysis.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"})

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Male,$2.88,$3.08,64,$184.60
Female,$3.18,$3.18,13,$41.38
Other / Non-Disclosed,$2.12,$2.12,1,$2.12

In [24]:
#Age Demographics 
#Create the bins in which the Data will be held
print(heroes_pymoli_pd["Age"].max())
print(heroes_pymoli_pd["Age"].min())

40
7

In [25]:
#Create Bins and Group Names
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14","15-19","20-24","25-29", "30-34", "35-39", "40+"]
#Cut Ages and place them into bins 
pd.cut(heroes_without_duplicates["Age"], bins, labels=group_names)
heroes_pymoli_pd["Age Bins"] = pd.cut(heroes_pymoli_pd["Age"], bins, labels=group_names)
heroes_pymoli_pd["Ages Binned"] = pd.cut(heroes_pymoli_pd["Age"],bins)
heroes_pymoli_pd.head()
#print without duplicates to find accurate age demographics 
without_dups = heroes_pymoli_pd.drop_duplicates(subset =['Age', 'Gender', 'SN'])

In [26]:
age_group = without_dups.groupby("Age Bins")

heroes_pymoli_pd.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Bins,Ages Binned
0,20,Male,93,Apocalyptic Battlescythe,4.49,Iloni35,20-24,"(19, 24]"
1,21,Male,12,Dawne,3.36,Aidaira26,20-24,"(19, 24]"
2,17,Male,5,Putrid Fan,2.63,Irim47,15-19,"(14, 19]"
3,17,Male,123,Twilight's Carver,2.55,Irith83,15-19,"(14, 19]"
4,22,Male,154,Feral Katana,4.11,Philodil43,20-24,"(19, 24]"

### Age Demographics

In [27]:
age_demographics = pd.DataFrame(without_dups["Age Bins"].value_counts())
age_demographics.reset_index(inplace=True)
age_demographics.columns = ["Age Bins", "Total Count"]
age_demographics
age_demographics["Percentage of Players"] = age_demographics["Total Count"] / total_players * 100
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{0:,.2f}".format)
age_demographics = age_demographics.sort_values(["Age Bins"], ascending=True)
age_demographics=age_demographics.set_index('Age Bins')
age_demographics

          Total Count Percentage of Players
Age Bins
<10                 5                  6.76
10-14               3                  4.05
15-19              11                 14.86
20-24              34                 45.95
25-29               8                 10.81
30-34               6                  8.11
35-39               6                  8.11
40+                 1                  1.35

### Purchasing Analysis (Age)

In [28]:
age_purchasing_group = heroes_pymoli_pd.groupby("Age Bins")
age_analysis = pd.DataFrame(heroes_pymoli_pd["Age Bins"].value_counts())
age_analysis.reset_index(inplace=True)
age_analysis.columns = ["Age Bins", "Purchase Count"]
age_analysis = age_analysis.sort_values(["Age Bins"], ascending=True)
age_analysis=age_analysis.set_index('Age Bins')
price_bins = heroes_pymoli_pd.groupby("Age Bins").mean()
sum_bins = heroes_pymoli_pd.groupby("Age Bins").sum()
total_players = without_dups.groupby("Age Bins").count()
age_analysis["Average Purchase Price"] = price_bins["Price"]
age_analysis["Total Purchase Value"] = sum_bins["Price"]
age_analysis["Normalized Totals"] = age_analysis["Total Purchase Value"] / total_players["Item ID"]

age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${0:,.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${0:,.2f}".format)
age_analysis["Normalized Totals"] = age_analysis["Normalized Totals"].map("${0:,.2f}".format)
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Bins,,,,
<10,5,$2.76,$13.82,$2.76
10-14,3,$2.99,$8.96,$2.99
15-19,11,$2.76,$30.41,$2.76
20-24,36,$3.02,$108.89,$3.20
25-29,9,$2.90,$26.11,$3.26
30-34,7,$1.98,$13.89,$2.31
35-39,6,$3.56,$21.37,$3.56
40+,1,$4.65,$4.65,$4.65

### Top Spenders

In [29]:
spending_analysis = pd.DataFrame(heroes_pymoli_pd["SN"].value_counts())
spending_analysis.reset_index(inplace=True)
spending_analysis.columns = ["SN", "Purchase Count"]
spending_analysis=spending_analysis.set_index('SN')
SN_price_bins = heroes_pymoli_pd.groupby("SN").mean()
SN_sum_bins = heroes_pymoli_pd.groupby("SN").sum()
spending_analysis["Average Purchase Price"] = SN_price_bins["Price"]
spending_analysis["Total Purchase Value"] = SN_sum_bins["Price"]
spending_analysis = spending_analysis.sort_values(["Total Purchase Value"], ascending=False)
spending_analysis["Average Purchase Price"] = spending_analysis["Average Purchase Price"].map("${0:,.2f}".format)
spending_analysis["Total Purchase Value"] = spending_analysis["Total Purchase Value"].map("${0:,.2f}".format)
spending_analysis.head()

            Purchase Count Average Purchase Price Total Purchase Value
SN
Sundaky74                2                  $3.71                $7.41
Aidaira26                2                  $2.56                $5.13
Eusty71                  1                  $4.81                $4.81
Chanirra64               1                  $4.78                $4.78
Alarap40                 1                  $4.71                $4.71

### Most Popular Items

In [30]:
item_popularity = pd.DataFrame(heroes_pymoli_pd["Item Name"].value_counts())
item_popularity.reset_index(inplace=True)
item_popularity.columns = ["Item Name", "Purchase Count"]
item_popularity=item_popularity.set_index('Item Name')
item_price_bins = heroes_pymoli_pd.groupby("Item Name").mean()
item_sum_bins = heroes_pymoli_pd.groupby("Item Name").sum()
item_popularity["Item Price"] = item_price_bins["Price"]
item_popularity["Total Purchase Value"] = item_sum_bins["Price"]
item_popularity = item_popularity.sort_values(["Purchase Count"], ascending=False)
item_popularity["Item Price"] = item_popularity["Item Price"].map("${0:,.2f}".format)
item_popularity["Total Purchase Value"] = item_popularity["Total Purchase Value"].map("${0:,.2f}".format)
item_popularity.head()

                             Purchase Count Item Price Total Purchase Value
Item Name
Mourning Blade                            3      $3.64               $10.92
Wolf                                      2      $2.70                $5.40
Deadline, Voice Of Subtlety               2      $1.29                $2.58
Misery's End                              2      $1.79                $3.58
Betrayer                                  2      $4.12                $8.24

### Most Profitable Items

In [31]:
item_profitability = pd.DataFrame(heroes_pymoli_pd["Item Name"].value_counts())
item_profitability.reset_index(inplace=True)
item_profitability.columns = ["Item Name", "Purchase Count"]
item_profitability=item_profitability.set_index('Item Name')
item_price_bins2 = heroes_pymoli_pd.groupby("Item Name").mean()
item_sum_bins2 = heroes_pymoli_pd.groupby("Item Name").sum()
item_profitability["Item Price"] = item_price_bins2["Price"]
item_profitability["Total Purchase Value"] = item_sum_bins2["Price"]
item_profitability = item_profitability.sort_values(["Total Purchase Value"], ascending=False)
item_profitability["Item Price"] = item_profitability["Item Price"].map("${0:,.2f}".format)
item_profitability["Total Purchase Value"] = item_profitability["Total Purchase Value"].map("${0:,.2f}".format)
item_profitability.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Mourning Blade,3,$3.64,$10.92
"Heartstriker, Legacy of the Light",2,$4.71,$9.42
Apocalyptic Battlescythe,2,$4.49,$8.98
Betrayer,2,$4.12,$8.24
Feral Katana,2,$4.11,$8.22